@page "/"
@inject IJSRuntime JS
@inject ISignumDataService SignumService
@inject ISignumAPIService API
@inject IStringLocalizer<App> L


<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">

    <MudGrid>
        <MudItem xs="12">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 50px;"> Put some Price stats?/latest Block</MudPaper>
        </MudItem>
        <MudItem xs="12" >

            
            @if(unconfirmedTransAPI == null)
            {
               <MudPaper Elevation="2" Class="pa-4" Style="height: 50px;">@L["NothingPending"]...</MudPaper>
            }
            else
            {           
              
       <MudTable Height="@($"{unconfirmedTransAPI.UnconfirmedTransactions.Count() * 20 + 100}px")"  Breakpoint="Breakpoint.None"  Items="unconfirmedTransAPI.UnconfirmedTransactions" FixedHeader="true" Dense="true" Hover="true"  HorizontalScrollbar="true" Bordered="false" Striped="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">@L["UnconfirmedTransactions"]</MudText>
                </ToolBarContent>


                <HeaderContent>
                    <MudTh>@L["DateTime"]</MudTh>          
                    <MudTh>@L["Height"]</MudTh>
                    <MudTh>@L["Type"]</MudTh>
                    <MudTh>@L["Sender"]</MudTh>
                    <MudTh>@L["Recipient"]</MudTh>
                    <MudTh>@L["Amount"]</MudTh>
                    <MudTh>@L["Fee"]</MudTh>



                </HeaderContent>
                <RowTemplate>
                    <MudTd>
                        <MudText Typo="Typo.caption">@(context.Time)</MudText>
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.caption">@(context.Height)</MudText>
                    </MudTd>
                        <MudTd>
                        <MudText Typo="Typo.caption">@(L[context.TransactionType])</MudText>
                    </MudTd>
                     <MudTd>
                        <MudText Style="word-break:keep-all" Typo="Typo.caption"><MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/accounts/{context.SenderId}")>@(($"{context.SenderRS}").RSTrim())</MudLink> </MudText>

                    </MudTd>

                    <MudTd>
                        @if(context.RecipientId == 0)
                            {                                                    
                                   <MudText Typo="Typo.caption">@(L[context.TransactionType])</MudText>                      

                            }
                            else
                            {
                              <MudText Style="word-break:keep-all" Typo="Typo.caption"><MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/accounts/{context.RecipientId}")>@(($"{context.RecipientRS}").RSTrim())</MudLink> </MudText>
                     
                            }
                          
                    </MudTd>

                    <MudTd>
                        <MudText Typo="Typo.caption">@(context.AmountSigna)</MudText>
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.caption">@(context.FeeSigna)</MudText>
                    </MudTd>

                </RowTemplate>
         </MudTable>

               }      
                          
        </MudItem>

    <MudItem  xs="12" >

        @if(blocks == null)
            {
                <p><em>@L["Loading"] @L["LatestBlocks"]...</em></p>
            }
            else
            {
                
            
            <MudTable  HorizontalScrollbar="true" Breakpoint="Breakpoint.None" Height="400px" Items="@blocks" FixedHeader="true" Dense="true" Hover="true" Bordered="false" Striped="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">@L["LatestBlocks"]</MudText>
             
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>@L["Created"]</MudTh>
                    
                        <MudTh><MudBadge Left="true" Content="@("Tx")" Color="Color.Primary" Overlap="false" Class="mx-6 my-4" >@L["Height"]</MudBadge></MudTh>
                       

                    <MudTh>@L["Forger"]</MudTh>
                    <MudTh>@L["Pool"]</MudTh>
                    <MudTh>@L["Reward"]</MudTh>
                    <MudTh>@L["TotalAmount"]</MudTh>
                    <MudTh>@L["Fee"]</MudTh>

                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Created">
                        <MudText Typo="Typo.caption">@((int)(DateTime.UtcNow - context.Time).TotalMinutes + " " + L["MinutesAgo"])</MudText>
                    </MudTd>
                    <MudTd> 
                        <MudBadge Left="true" Content="@context.TransactionCount.ToString()" Color="Color.Primary" Overlap="false" Class="mx-6 my-4">
                        <MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/blocks/{context.Id}")>@context.Height</MudLink>
                        </MudBadge>

                    </MudTd>


                    <MudTd>
                       <MudText Style="word-break:keep-all" Typo="Typo.caption"><MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/accounts/{context.GeneratorId}")>@(($"S-{context.GeneratorRS}").RSTrim())</MudLink> </MudText>
                       <MudSpacer></MudSpacer>
                        <MudText Style="overflow-wrap:anywhere"  Typo="Typo.caption">@(($"{context.Name}").Truncate(20,true))</MudText>
                    </MudTd>
                                        <MudTd>
                       <MudText Style="word-break:keep-all" Typo="Typo.caption"><MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/accounts/{context.RecipId}")>@(($"S-{context.RecipientRS}").RSTrim())</MudLink> </MudText>
                       <MudSpacer></MudSpacer>
                        <MudText Style="overflow-wrap:anywhere"  Typo="Typo.caption">@(($"{context.RecipName}").Truncate(20,true))</MudText>
                    </MudTd>
                                        <MudTd>
                        <MudText Typo="Typo.caption"> @((context.Height.GetBlockReward()/100000000).ToString()) </MudText>
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.caption"> @context.TotalAmount.ToString() </MudText>                        
                    </MudTd>
                     <MudTd>
                        <MudText Typo="Typo.caption">  @context.TotalFee.ToString()</MudText>
                    </MudTd>

                </RowTemplate>
                </MudTable>
                  <MudTFootRow>
                     <MudNavLink  Href="/blocks" Icon="@Icons.Material.Filled.Layers">@L["AllBlocks"]  </MudNavLink>
                </MudTFootRow>
                }
        </MudItem>

        <MudItem xs="12" >
            @if(transactions == null)
            {
                <p><em>@L["Loading"] @L["LatestTransactions"]...</em></p>
            }
            else
            {
            
                  <MudTable  HorizontalScrollbar="true" Breakpoint="Breakpoint.None" Height="400px" Items="@transactions" FixedHeader="true" Dense="true" Hover="true" Bordered="false" Striped="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">@L["LatestTransactions"]</MudText>
                </ToolBarContent>


                <HeaderContent>
                    <MudTh>@L["Created"]</MudTh>          
                    <MudTh>@L["Height"]</MudTh>
                    <MudTh>@L["Id"]</MudTh>
                    <MudTh>@L["Sender"]</MudTh>
                    <MudTh>@L["Recipient"]</MudTh>
                    <MudTh>@L["Amount"]</MudTh>
                    <MudTh>@L["Fee"]</MudTh>     



                </HeaderContent>
                <RowTemplate>

                    <MudTd>
                        <MudText Typo="Typo.caption">@((int)(DateTime.UtcNow - context.Time).TotalMinutes + " " + L["MinutesAgo"])</MudText>
                    </MudTd>

                    <MudTd>
                        <MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/blocksheight/{context.Height}")>@(context.Height)</MudLink>
                    </MudTd>
                    <MudTd>
                        <MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/transactions/{context.Id}")>@context.Id</MudLink>
                        <MudSpacer></MudSpacer>
                        <MudText Typo="Typo.caption">@L[context.TransactionType]</MudText>

                    </MudTd>

                    <MudTd>
     
                        <MudText Style="word-break:keep-all" Typo="Typo.caption"><MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/accounts/{context.SenderId}")>@(($"S-{context.SenderRS}").RSTrim())</MudLink> </MudText>
                               <MudSpacer></MudSpacer>
                                <MudText Typo="Typo.caption">Sender Name Placeholder</MudText>
                 
                    </MudTd>

                    <MudTd>
                    @if(context.RecipientId == 0)
                        {
                        <MudText Typo="Typo.caption">@L[context.TransactionType]</MudText>

                        }
                        else
                        {
                        

                          <MudText Style="word-break:keep-all" Typo="Typo.caption"><MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/accounts/{context.RecipientId}")>@(($"S-{context.RecipientRS}").RSTrim())</MudLink> </MudText> 
                               <MudSpacer></MudSpacer>
                                <MudText Typo="Typo.caption">Recipient Name Place Holder</MudText>
                           <MudSpacer></MudSpacer>
                            

                             

                        }
                        </MudTd>


                        


                    <MudTd>
                        <MudText Typo="Typo.caption"> @(context.Amount) </MudText>
                    </MudTd>
                    <MudTd>

                        <MudText Typo="Typo.caption">@context.Fee</MudText>
                    </MudTd>


                </RowTemplate>
                </MudTable>
                <MudTFootRow>
                     <MudNavLink  Href="/transactions" Icon="@Icons.Material.Filled.DoubleArrow"> @L["AllTransactions"]  </MudNavLink>
                </MudTFootRow>
                }
        </MudItem>

    </MudGrid>

       
</MudContainer>


@code{

    IEnumerable<IBlock>? blocks;
    IEnumerable<ITransaction>? transactions;
    IUnconfirmedTransAPI? unconfirmedTransAPI;


    protected override async Task OnInitializedAsync()
    {
        blocks = await SignumService.GetLatestBlocks(20);
        transactions = await SignumService.GetLatestTransactions(20);
        unconfirmedTransAPI = await API.getUnconfirmedTransactions();
    }
     

}