@page "/"
@inject IJSRuntime JS
@inject ISignumDataService SignumService
@inject ISignumAPIService API


<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">

    <MudGrid>
        <MudItem xs="12">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 50px;"> Put some Price stats?/latest Block</MudPaper>
        </MudItem>
        <MudItem xs="12" >

            
            @if(unconfirmedTransAPI == null)
            {
               <MudPaper Elevation="2" Class="pa-4" Style="height: 50px;">No Pending Transactions...</MudPaper>
            }
            else
            {           
              
       <MudTable Height="200px"  Items="unconfirmedTransAPI.UnconfirmedTransactions" FixedHeader="true" Dense="true" Hover="true" Bordered="false" Striped="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Unconfirmed Transactions</MudText>
                </ToolBarContent>


                <HeaderContent>
                    <MudTh>Timestamp</MudTh>          
                    <MudTh>Height</MudTh>
                    <MudTh>Amount</MudTh>
                      <MudTh>Fee</MudTh>
                    <MudTh>Sender</MudTh>
                    <MudTh>Recipient</MudTh>
                    <MudTh>Type</MudTh>
                    <MudTh>Subtype</MudTh>   



                </HeaderContent>
                <RowTemplate>
                    <MudTd>
                        <MudText Typo="Typo.caption">@(context.Timestamp)</MudText>
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.caption">@(context.Height)</MudText>
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.caption">@(context.AmountNQT)</MudText>
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.caption">@(context.FeeNQT)</MudText>
                    </MudTd>
                    <MudTd>
                        <MudText Style="word-break:keep-all" Typo="Typo.caption">@(context.SenderRS)</MudText>
                    </MudTd>
                        <MudTd>
                        <MudText Style="word-break:keep-all" Typo="Typo.caption">@(context.RecipientRS)</MudText>
                    </MudTd>
                        <MudTd>
                        <MudText Typo="Typo.caption">@(context.Type)</MudText>
                    </MudTd>
                        <MudTd>
                        <MudText Typo="Typo.caption">@(context.Subtype)</MudText>
                    </MudTd>
                </RowTemplate>
         </MudTable>

               }      
                          
        </MudItem>

    <MudItem  xs="12" >

        @if(blocks == null)
            {
                <p><em>Loading Recent Blocks...</em></p>
            }
            else
            {
                
            
            <MudTable Height="400px" Items="@blocks" FixedHeader="true" Dense="true" Hover="true" Bordered="false" Striped="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Latest Blocks</MudText>
             
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>Created</MudTh>
                    
                        <MudTh><MudBadge Left="true" Content="@("Tx")" Color="Color.Primary" Overlap="false" Class="mx-6 my-4" >Height</MudBadge></MudTh>
                       

                    <MudTh>Forger</MudTh>
                    <MudTh>Pool</MudTh>
                    <MudTh>Reward</MudTh>
                    <MudTh>Total Amount</MudTh>
                    <MudTh>Fee</MudTh>

                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Created">
                        <MudText Typo="Typo.caption">@((int)(DateTime.UtcNow - context.Time).TotalMinutes + " minutes ago")</MudText>
                    </MudTd>
                    <MudTd> 
                        <MudBadge Left="true" Content="@context.TransactionCount.ToString()" Color="Color.Primary" Overlap="false" Class="mx-6 my-4">
                        <MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/blocks/{context.Id}")>@context.Height</MudLink>
                        </MudBadge>

                    </MudTd>


                    <MudTd>
                       <MudText Style="word-break:keep-all" Typo="Typo.caption"><MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/accounts/{context.GeneratorId}")>@(($"S-{context.GeneratorRS}").RSTrim())</MudLink> </MudText>
                       <MudSpacer></MudSpacer>
                        <MudText Style="overflow-wrap:anywhere"  Typo="Typo.caption">@(($"{context.Name}").Truncate(20,true))</MudText>
                    </MudTd>
                                        <MudTd>
                       <MudText Style="word-break:keep-all" Typo="Typo.caption"><MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/accounts/{context.RecipId}")>@(($"S-{context.RecipientRS}").RSTrim())</MudLink> </MudText>
                       <MudSpacer></MudSpacer>
                        <MudText Style="overflow-wrap:anywhere"  Typo="Typo.caption">@(($"{context.RecipName}").Truncate(20,true))</MudText>
                    </MudTd>
                                        <MudTd>
                        <MudText Typo="Typo.caption"> @((context.Height.GetBlockReward()/100000000).ToString()) </MudText>
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.caption"> @context.TotalAmount.ToString() </MudText>                        
                    </MudTd>
                     <MudTd>
                        <MudText Typo="Typo.caption">  @context.TotalFee.ToString()</MudText>
                    </MudTd>

                </RowTemplate>
                </MudTable>
                  <MudTFootRow>
                     <MudNavLink  Href="/blocks" Icon="@Icons.Material.Filled.Layers">All Blocks  </MudNavLink>
                </MudTFootRow>
                }
        </MudItem>

        <MudItem xs="12" >
            @if(transactions == null)
            {
                <p><em>Loading Recent Transactions...</em></p>
            }
            else
            {
            
                  <MudTable Height="400px" Items="@transactions" FixedHeader="true" Dense="true" Hover="true" Bordered="false" Striped="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Latest Transactions</MudText>
                </ToolBarContent>


                <HeaderContent>
                    <MudTh>Created</MudTh>          
                    <MudTh>Height</MudTh>
                    <MudTh>Id</MudTh>
                    <MudTh>Sender</MudTh>
                    <MudTh>Recipient</MudTh>
                    <MudTh>Amount</MudTh>
                    <MudTh>Fee</MudTh>     



                </HeaderContent>
                <RowTemplate>

                    <MudTd>
                        <MudText Typo="Typo.caption">@((int)(DateTime.UtcNow - context.Time).TotalMinutes + " minutes ago")</MudText>
                    </MudTd>

                    <MudTd>
                        <MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/blocksheight/{context.Height}")>@(context.Height)</MudLink>
                    </MudTd>
                    <MudTd>
                        <MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/transactions/{context.Id}")>@context.Id</MudLink>
                        <MudSpacer></MudSpacer>
                        <MudText Typo="Typo.caption">@context.TransactionType</MudText>

                    </MudTd>

                    <MudTd>
     
                        <MudText Style="word-break:keep-all" Typo="Typo.caption"><MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/accounts/{context.SenderId}")>@(($"S-{context.SenderRS}").RSTrim())</MudLink> </MudText>
                               <MudSpacer></MudSpacer>
                                <MudText Typo="Typo.caption">Sender Name Placeholder</MudText>
                 
                    </MudTd>

                    <MudTd>
                    @if(context.RecipientId == 0)
                        {
                        <MudText Typo="Typo.caption">@context.TransactionType</MudText>

                        }
                        else
                        {
                        

                          <MudText Style="word-break:keep-all" Typo="Typo.caption"><MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/accounts/{context.RecipientId}")>@(($"S-{context.RecipientRS}").RSTrim())</MudLink> </MudText> 
                               <MudSpacer></MudSpacer>
                                <MudText Typo="Typo.caption">Recipient Name Place Holder</MudText>
                           <MudSpacer></MudSpacer>
                            

                             

                        }
                        </MudTd>


                        


                    <MudTd>
                        <MudText Typo="Typo.caption"> @(context.Amount) </MudText>
                    </MudTd>
                    <MudTd>

                        <MudText Typo="Typo.caption">@context.Fee</MudText>
                    </MudTd>


                </RowTemplate>
                </MudTable>
                <MudTFootRow>
                     <MudNavLink  Href="/transactions" Icon="@Icons.Material.Filled.DoubleArrow">  All Transactions  </MudNavLink>
                </MudTFootRow>
                }
        </MudItem>

    </MudGrid>

       
</MudContainer>


@code{

    IEnumerable<IBlock>? blocks;
    IEnumerable<ITransaction>? transactions;
    UnconfirmedTransAPI? unconfirmedTransAPI;


    protected override async Task OnInitializedAsync()
    {
        blocks = await SignumService.GetLatestBlocks(20);
        transactions = await SignumService.GetLatestTransactions(20);
        unconfirmedTransAPI = await API.getUnconfirmedTransactions();
    }









     

}