@namespace SignumExplorer.Pages

@inject ISignumDataService SignumService


        @if (blocks == null)
        {
            <p><em>Loading Blocks...</em></p>
        }
        else
        {    

           <MudTable Items="@blocks" RowsPerPage="100" FixedHeader="true" Dense="true" Hover="true" Bordered="false" Striped="true">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Blocks</MudText>
             
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Block Height</MudTh>
                <MudTh>Date/Time</MudTh>
                <MudTh>Total Amount</MudTh>
                <MudTh>Total Fee</MudTh>
                <MudTh>Size</MudTh>


            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Block Height"><MudLink Typo="Typo.caption" Underline="Underline.None" Href=@($"/blocks/{context.Id}")>@context.Height</MudLink></MudTd>
                <MudTd DataLabel="Date/Time"><MudText Typo="Typo.caption">@context.Time.ToLocalTime().ToString("G")</MudText></MudTd>
                <MudTd DataLabel="Total Amount"><MudText Typo="Typo.caption">@($"{context.TotalAmount}")</MudText></MudTd>
                <MudTd DataLabel="Total Fee"><MudText Typo="Typo.caption">@($"{context.TotalFee}")</MudText></MudTd>
                <MudTd DataLabel="Size"><MudText Typo="Typo.caption">@($"{context.PayloadLength}")</MudText></MudTd>
                


            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
                </MudTable>
 }





@code {

    [Parameter]
    public ulong? AccountId { get; set; }

    private IEnumerable<IBlock>? blocks;

    protected override async Task OnInitializedAsync()
    {  
        if(AccountId == null)
        {
                 blocks =  await SignumService.GetBlocksAsync();   
        }
        else
        {
            blocks = await SignumService.GetAccountBlocks((long)AccountId);
        }


    }
}